a:link, a:visited {
    color: white;
    text-decoration: none;
  }

body{
    box-sizing: border-box;
    height: 100%;
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

footer{
    color: white;
    margin: auto;
    padding-top: 135px;
    text-align: center;
}

form{
    width: 460px;
}

h1{
    font-size: 60px;
}

.btn{
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-size: 15px;
    width: 377px;
}

.container{
    column-gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 7%;
}


.formContainer{
    background-color: white;
    border-radius: .25rem;
    box-shadow: 2px 2px 20px hsl(249, 10%, 26%);
    height: 400px;
    padding: 2rem;
    width: 445px;
}

.left_container{
    color: white;
    margin-top: 20%;
}

.leftP{
    padding-top:15px ;
}

.row{
    padding: 5px 0;
}

.subtext{
    font-size: 10px;
    padding-top: 20px;
    text-align: center;
}
.tnc{
    color: hsl(0, 100%, 74%);

}

.tryItText{
    background-color: hsl(248, 32%, 49%);
    border-radius: .25rem;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 445px;
    box-shadow: 2px 2px 20px hsl(249, 10%, 26%);
}
